</div>
<div class="row">
<div class="span12">
  <% @random_promotions.each do |promotion| %>
  <br>
    <div class="span7 thumbnail pull-left image_container"><%= image_tag(promotion.image_url, class: "image-rounded") if promotion.image? %>
      <div>
        <h3><%= promotion.title %></h3>
      </div>
      <div class="span6 well">
        <p class="justify"><%= promotion.details %></p>
      </div>
      <div>
        <p align="right"><%= link_to "View", promotion_path(promotion), class: "btn btn-primary" %></p>
      </div>
    </div>
    <div class="span1">
    </div>
     <div class="span3 thumbnail">
      <p><% @random1_promotions.each do |promotion| %>
        <hr>
        <h4><%= promotion.title %></h4>
      <%= image_tag(promotion.image_url, class: "image-rounded") if promotion.image? %></p>
      <p align="right"><%= link_to "View", promotion_path(promotion), class: "btn btn-mini btn-primary" %></p>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
  </div>
  <div class="span3">
    <br>

</div>
</div>

