<div class="row">
<div class="span12">
  <% @random_promotions.each do |promotion| %>
  <br>
    <div class="span7 pull-left image_container"><%= image_tag(promotion.image_url, class: "img-rounded") if promotion.image? %>
      <div>
        <h3><%= promotion.title %></h3>
      <div class="span3">
        <h4>Details</h4>
        <p class="justify"><%= promotion.details %></p>
      </div>
      <div class="span3">
        <h4>Highlights</h4>
        <p class="justify"><%= promotion.highlights %></p>
      </div>
      <div class="span3">
        <h4>About</h4>
        <p class="justify"><%= promotion.about %></p>
      </div>
      <div class="span3">
        <h4>Company Information</h4>
        <p class="justify"><%= promotion.company_info %></p>
      </div>
      <div class="span3">
        <h4>Fine Print</h4>
        <p class="justify"><%= promotion.fine_print %></p>
      </div>
    </div>
  </div>
    <div class="span1">
    </div>
     <div class="span4">
      <% @random1_promotions.each do |promotion| %>
      <%= link_to image_tag(promotion.image_url, class: "img-rounded"), promotion_path(promotion) %>
        <div>
          <%= promotion.title %>
        </div>
        <div>
      </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
  </div>
  <div class="span3">
    <br>

</div>
</div>
