<div class="row">
<div class="span12">
  <% @random_promotions.each do |promotion| %>
  <br>
    <div class="span7 pull-left image_container"><%= image_tag(promotion.image_url, class: "img-rounded") if promotion.image? %>
      <div>
        <h3><%= promotion.title %></h3>
      <div class="span3">
        <h4>Details</h4>
        <p class="justify"><%= promotion.details %></p>
      </div>
      <div class="span3">
        <h4>Highlights</h4>
        <p class="justify"><%= promotion.highlights %></p>
      </div>
      <div class="span3">
        <h4>About</h4>
        <p class="justify"><%= promotion.about %></p>
      </div>
      <div class="span3">
        <h4>Fine Print</h4>
        <p class="justify"><%= promotion.fine_print %></p>
      </div>
      <div class="span3">
        <h4>Company Information</h4>
        <p class="justify"><%= promotion.company_info %></p>
        <br>
      </div>
      <div class="span3">
      </div>
      <div class="span3 pull-center" id="googleMap" style="width:275px;height:275px;">
      </div>
    </div>
  </div>
     <div class="span4">
      <% @random1_promotions.each do |promotion| %>
      <table>
        <tr>
          <th rowspan="3"><%= link_to image_tag(promotion.image_url, class: "img-rounded"), promotion_path(promotion) %></th>
          <td class="button">$<%= promotion.price %></td>
        </tr>
        <tr>
          <td class="button"><%= link_to "View", promotion_path(promotion) %></td>
        </tr>
        <tr>
          <td class="button"><%= link_to "Buy Now", promotion_path(promotion) %></td>
        </tr>
      </table>

        <div>
          <p><strong><%= promotion.title %></strong></p>
          <br>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


</div>
</div>

