<div class="container">
<div class="row">
<div class="col-sm-12">
  <div class="col-sm-8">
    <h4>Daily Deal</h4>
</div>
</div>
 <div class="col-sm-4 hidden-xs hidden-sm">
  <h4>Featured Deals</h4>
  </div>
</div>
</div>
  <% @random_promotions.each do |promotion| %>
  <br>
    <div class="col-sm-8 pull-left image_container"><%= image_tag(promotion.image_url, class: "img-rounded") if promotion.image? %>
      <div>
        <h3><%= promotion.title %></h3>
      <div class="col-lg-6">
        <h4>Details</h4>
        <p class="justify"><%= promotion.details %></p>
      </div>
      <div class="col-lg-6">
        <h4>Highlights</h4>
        <p class="justify"><%= promotion.highlights %></p>
      </div>
      <div class="col-lg-6">
        <h4>Company Information</h4>
        <p class="justify"><%= promotion.company_info %></p>
      </div>
      <div class="col-lg-6">
        <h4>Fine Print</h4>
        <p class="justify"><%= promotion.fine_print %></p>
        <br>
      </div>
      <div class="col-lg-6 pull-left" id="googleMap" style="width:275px;height:250px;">
      </div>
      <div class="col-lg-6 pull-right">
        <br>
        <br>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "View", promotion_path(promotion), class: 'btn-blue btn-large' %></p>
      </div>
    </div>
    <% end %>
  </div>
     <div class="col-sm-4 visible-xs hidden-sm hidden-lg hidden-md">
      <h3>Featured Deals</h3>
    </div>
      <% @random1_promotions.each do |promotion| %>
      <table class="table-btn-blue" border="0" width="250">
        <tr>
        <td colspan="3"><%= link_to image_tag(promotion.image_url, class: "img-rounded"), promotion_path(promotion) %></td>
          </tr>
          <tr>
              <td align="center">$<%= promotion.price %></td>
              <td align="center"><%= link_to "View", promotion_path(promotion) %></td>
              <td align="center"><%= link_to "Buy", promotion_path(promotion) %></td>
          </tr>
          <tr>
            <td colspan="2" align="left" style="background-color: grey;"><%= promotion.title %></td>
            <td align="right" style="background-color: grey;">1000 bought</td>
          </tr>
      </table>

        <div>
          <br>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>


</div>
</div>

