<div class="container">
	<div class="row">
			<div class="col-lg-4 col-lg-offset-5">
				<h2>Log in</h2>
				<br>
					</div>
						<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
		  		<div class="col-lg-6 col-lg-offset-5">
		  			<%= f.input :email, label: false, :autofocus => true, placeholder: 'Email' %>
		  		</div>
		  		<div class="col-lg-4 col-lg-offset-5">
		  			<%= f.input :password, label: false, placeholder: 'Password' %>
		  		</div>
		  		<div class="col-lg-4 col-lg-offset-5">
		  			<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
		  		</div>
		  		<div class="col-lg-4 col-lg-offset-5">
		  			<br>
		  			 <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
		  		</div>
		  		<div class="col-lg-4 col-lg-offset-5">
		  			<br>
		  			 <%= render "devise/shared/links" %>
		  		</div>
				<% end %>
		</div>
	</div>
</div>
</div>
