<br>
<br>
<div class="row">
  <div class="col-lg-3 col-lg-offset-4 thumbnail">
    <p><%= image_tag(@promotion.image_url, class: "img-rounded") %></p>
    <br>
    <p align="center"><strong><%= @promotion.description %></strong></p>
     <p align="center">Expires: <%= @promotion.expiration %></p>
      <p align="center"><%= image_tag(@promotion.qrcode_url, class: "img-rounded") if @promotion.qrcode? %>
        <br>
        <br>
      </p>
      <p align="center"><strong><%= "#{@promotion.purchases.count} bought" %></strong></p>
      <br>
      <p align="center"><%= link_to "Back", account_show_path, class: "btn-blue btn-lg" %></p>
  </div>

