<div class="comtainer">
	<div class="row col-md-12">
		<% @promotions.each do |promotion| %>
			<div class="col-md-3 img-thumbnail white-space">
				<div>
					<p><%= image_tag(promotion.image_url, class: "img-rounded") %></p>
					<h4 align="center"><strong><%= promotion.title %></strong></h4>
					<p align="center"><%= promotion.description %></p>
					<p align="center">$<%= promotion.price %></p>
					<p align="center"><%= promotion.expiration %></p>
					<br>
					<p align="center"><%= link_to "Buy", promotion_path(promotion), class: "btn-blue btn-lg" %></p>
					<br>
				</div>
			</div>
			<% end %>
		</div>
		<br>
	</div>
<center><p><%= will_paginate @promotions %></p>
