<div class="row">
	<div class="container">
	<%= simple_form_for @promotion, defaults: { wrapper_html: { class: 'form-group'}, input_html: { class: 'form-control'} } do |f| %>
		<div class="col-lg-12">
			<div>
		<h4>Please fill out the form below describing your promotion. All fields are required.</h4>
		<br/>
	</div>
			<div class="col-sm-3">
				<div>
					<%= f.input :title, label: false, placeholder: 'Title' %>
				</div>
				<div><%= f.input :description, :input_html => { :rows => 2 }, label: false, placeholder: 'Enter Brief description: no more than 30 characters' %>
				</div>
				<div><%= f.input :price, label: false, placeholder: 'Price' %>
				</div>
				<div><%= f.text_field :purchase_expiration, :id => "datepicker", label: false, placeholder: 'Purchase Expiration Date' %>
				</div>
				<br>
				<div><%= f.text_field :expiration, :id => "datepicker1", label: false, placeholder: 'Expiry Date' %>
				</div>
				<br>
				<div><%= f.input :website, label: false, placeholder: 'Website' %>
				</div>
				<div><%= f.file_field :image %><font color="blue">*Upload Image</font>
				</div>
				<div><%= f.file_field :qrcode %><font color="blue">*Upload QR code</font>
				</div>
				<div><%= f.submit %>
				</div>
			</div>
			<div class="col-sm-8"><%= f.input :details, :input_html => { class: 'text_fields', :rows => 4, :cols => 130 }, label: false, placeholder: 'Full Details' %></div>
			<div class="col-sm-8"><%= f.input :highlights, :input_html => { class: 'text_fields', :rows => 4, :cols => 130 }, label: false, placeholder: 'Highlights' %></div>
				<div class="col-sm-8"><%= f.input :company_info, :input_html => { class: 'text_fields', :rows => 4, cols: 130}, label: false, placeholder: 'Company Information' %>
				</div>
				<div class="col-sm-8"><%= f.input :fine_print, :input_html => { class: 'text_fields', :rows => 4, cols: 130}, label: false, placeholder: 'Fine Print' %>
				</div>
					</div>
<br>
	<% end %>
</div>
</div>
</div>

<script>
$('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>

<script>
$('#datepicker1').datepicker({format: 'yyyy-mm-dd'});
</script>
