<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>My Account</h3>
      <br>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
		  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

				<script>
        $(function() {
          $( "#tabs" ).tabs();
        });
        </script>


<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Profile</a></li>
    <li><a href="#tabs-2">Promotions</a></li>
  </ul>
  <div id="tabs-1">
			<h3>Hi <%= @current_user.name %>, it's good to see you again.</h3>
			<br>
			<p class="img-rounded img-thumbnail"><%= image_tag(current_user.avatar.thumb.url) %></p>
			<h4><%= @current_user.name %></h4>
			<h4><%= @current_user.email %></h4>
			<h4><%= @current_user.roles.first.name.titleize %></h4>
			<h4><%= @current_user.last_4_digits %></h4>
			<p><%= link_to "Edit", edit_user_registration_path , class: 'btn-blue btn-lg pull-left' %></p>
      <br>
      <br>
  </div>
  <div id="tabs-2">
        <h4>You've created <%= pluralize(@current_user.promotions.count, 'promotions') %></h4>
        <br>
        <div class="container">
        	<div class="row col-sm-12">
				<% @current_user.promotions.each do |promotion| %>
					<div class="col-sm-2 thumbnail">
						<div>
					<p align="center"><%= link_to promotion.title, "/promotions/client_view/#{promotion.id}" %></p>
					<p align="center"><%= image_tag(promotion.image_url, class: "img-rounded") if promotion.image? %></p>
					<p align="center"><%= promotion.expiration %></p>
					<p align="center">$<%= promotion.price %></p>
					<p align="center"><%= image_tag(promotion.qrcode_url, class: "img-rounded qrcode") %>
					<p align="center"><%= "#{promotion.purchases.count} bought" %></p>
				</div>
			</div>
					<% end %>
					<br>
				</div>
				<br>
				<div class="row">
						<% if can? :create, Promotion %>
							<p><%= link_to "New Promotion", new_promotion_path, class: 'btn-blue btn-lg pull-left' %></p>
						<% end %>
					</div>
						<br>
  </div>

</div>
</div>
</div>
</div>
</div>

