

<h1>Platinum</h1>


<%= @current_user.name %>
<p><%= @current_user.email %></p>
 <%= pluralize(@current_user.promotions.count, 'promotions') %>
<% @current_user.promotions.each do |promotion| %>

<%= promotion.title %>
<%= promotion.title %>


<% end %>

  <%= link_to "New Promotion", new_promotion_path, class: 'btn btn-primary btn-mini' %>

