<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h3>Profile</h3>
			<br>
			<p><%= image_tag(current_user.avatar.thumb.url) %></p>
			<h4><%= @current_user.name %></h4>
			<h4><%= @current_user.email %></h4>
			<h4><%= @current_user.roles.first.name.titleize %></h4>
			<h4><%= @current_user.last_4_digits %></h4>
			<p><%= link_to "Edit", edit_user_registration_path , class: 'btn-blue btn-sm pull-left' %></p>
		</div>
		<div class="col-sm-4 col-sm-offset-1">
			<h3>Preferences</h3>
			<br>
				<div class="row">
				  <div class="col-sm-2">
				    <p align="center"><strong>Entertainment</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view" value="off" id="off" checked>
				        <label for="off" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view" value="on" id="on">
				        <label for="on" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
					<div class="col-sm-2 col-sm-offset-3">
				    <p align="center"><strong>Sports</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view2" value="off2" id="off2" checked>
				        <label for="off2" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view2" value="on2" id="on2">
				        <label for="on2" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
			    <p align="center"><strong>Arts</strong></p>
			      <div class="switch switch-blue">
			        <input type="radio" class="switch-input" name="view3" value="off3" id="off3" checked>
			        <label for="off3" class="switch-label switch-label-off">Off</label>
			        <input type="radio" class="switch-input" name="view3" value="on3" id="on3">
			        <label for="on3" class="switch-label switch-label-on">On</label>
			        <span class="switch-selection"></span>
						</div>
					</div>
					<div class="col-sm-2 col-sm-offset-3">
				    <p align="center"><strong>Food</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view4" value="off4" id="off4" checked>
				        <label for="off4" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view4" value="on4" id="on4">
				        <label for="on4" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
				    <p align="center"><strong>Drink</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view5" value="off5" id="off5" checked>
				        <label for="off5" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view5" value="on5" id="on5">
				        <label for="on5" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
					<div class="col-sm-2 col-sm-offset-3">
				    <p align="center"><strong>Events</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view6" value="off6" id="off6" checked>
				        <label for="off6" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view6" value="on6" id="on6">
				        <label for="on6" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
				    <p align="center"><strong>Activites</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view7" value="off7" id="off7" checked>
				        <label for="off7" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view7" value="on7" id="on7">
				        <label for="on7" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
					<div class="col-sm-2 col-sm-offset-3">
				    <p align="center"><strong>Beauty/Spa</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view8" value="off8" id="off8" checked>
				        <label for="off8" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view8" value="on8" id="on8">
				        <label for="on8" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
				    <p align="center"><strong>Home/Garden</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view9" value="off9" id="off9" checked>
				        <label for="off9" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view9" value="on9" id="on9">
				        <label for="on9" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
					<div class="col-sm-2 col-sm-offset-3">
				    <p align="center"><strong>Health/Fitness</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view10" value="off10" id="off10" checked>
				        <label for="off10" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view10" value="on10" id="on10">
				        <label for="on10" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
				    <p align="center"><strong>Automotive</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view11" value="off11" id="off11" checked>
				        <label for="off11" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view11" value="on11" id="on11">
				        <label for="on11" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
					<div class="col-sm-2 col-sm-offset-3">
				    <p align="center"><strong>Shopping</strong></p>
				      <div class="switch switch-blue">
				        <input type="radio" class="switch-input" name="view12" value="off12" id="off12" checked>
				        <label for="off12" class="switch-label switch-label-off">Off</label>
				        <input type="radio" class="switch-input" name="view12" value="on12" id="on12">
				        <label for="on12" class="switch-label switch-label-on">On</label>
				        <span class="switch-selection"></span>
						</div>
					</div>
				</div>
				<p><%= link_to "Update", "#", class: 'btn-blue btn-sm pull-left' %></p>
			</div>

			<div class="col-sm-3 col-sm-offset-1">
				<h3>Purchases</h3>
				<br>
				<h4>You've purchased <%= pluralize(@current_user.promotions.count, 'promotions') %></h4>
				<% @current_user.promotions.each do |promotion| %>
					<p><%= link_to purchase.promotion.title, "/promotions/view/#{purchase.promotion_id}"  %></p>
					<%= image_tag(promotion.image_url, class: "img-rounded") if promotion.image? %>
					<br>
					<br>
					<% end %>
						<p><%= link_to "Purchases", '#', class: 'btn-blue btn-sm pull-left' %></p>
			</div>
			</div>
		</div>
