<ul class="nav nav-tabs">
  <% if user_signed_in? %>
  <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
   <li><%= link_to "MobileWRX", root_path %></li>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Subscriptions<spam class="caret"></span></a>
    <ul class="dropdown-menu">
      <li> <%= link_to "Client", client_subscription_path %></li>
      <li> <%= link_to "Customer", customer_subscription_path %></li>
    </ul>
  </li>
    <li>
    <%= link_to 'Promotions', promotions_path %>
    </li>
    <li>
    <%= link_to 'How it Wrx', how_path %>
    </li>
    <li>
    <%= link_to 'FAQ', faq_path %>
    </li>
    <li>
    <%= link_to 'Edit Account', edit_user_registration_path %>
    </li>
    <li>
    <%= link_to 'My Account', account_show_path %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
   <li><%= link_to "MobileWRX", root_path %></li>
  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Subscriptions<spam class="caret"></span></a>
    <ul class="dropdown-menu">
      <li> <%= link_to "Client", client_subscription_path %></li>
      <li> <%= link_to "Customer", customer_subscription_path %></li>
    </ul>
  </li>
    <li>
    <%= link_to 'Promotions', promotions_path %>
    </li>
    <li>
    <%= link_to 'How it WRX', how_path %>
    </li>
    <li>
    <%= link_to 'FAQ', faq_path %>
    </li>
    <li>
    <%= link_to 'About Us', about_path %>
    </li>
    <li>
    <%= link_to 'Contact Us', contact_path %>
    </li>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% end %>
</ul>
